/*404040, e9e3e6, 2f97c1, 32965d*/
/* Font names: 'Noto Sans', sans-serif 'Source Sans Pro', sans-serif */

/*******************************General Styles
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f97c1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232f97c1'/%3E%3Cstop offset='1' stop-color='%23e9e3e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(258,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2332965d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2332965d' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2332965d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2332965d' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.36'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

a {
    color: #2f97c1;
}

a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    padding-top: 10px;
}

.color-green {
    background-color: #32965d;
}

.color-blue {
    background-color: #2f97c1;
    color: #e9e3e6;
}

.color-white {
    background-color: #e9e3e6;
    color: #404040;
}

.color-black {
    background-color: #404040;
}

.color-red {
    background-color: #a52222;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 2px #404040 solid;
}

.music-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.music-queue {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.song-item, .queue-item {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px #404040 solid;
}

.album-cover {
    width: 25%;
}

.album-cover img {
    width: 100%;
}

.song-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 45%;
}

.song-info h3, .song-info h4, .song-info h5 {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-left: 20px;
}

.controls img {
    width: 50px;
    height: 50px;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#player-album {
    width: 25%;
    padding-left: 10px;
}

#player-controls {
    width: 30%;
}

/**********************************login.html
*/

.float-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    margin-top: 150px;
}

.input-field {
    margin: 10px;
}

.custom-button {
    padding: 10px;
    margin: 10px 0;
    color: #e9e3e6;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.custom-button:hover {
    background-color: #2f97c1;
}

/**********************************settings.html
*/

.setting-box {
    width: 50%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px #404040 solid;
    text-align: center;
}

.setting .custom-button {
    width: 20%;
}

.setting p {
    margin-bottom: -4px;
}

.setting h3 {
    width: 20%;
}

/**********************************organize.html
*/

.playlist-content {
    width: 100%;
    margin: 20px;
}

.playlist {
    padding: 0 20px;
    border-bottom: 2px #404040 solid;
    width: 100%;
}

.playlist:hover {
    background-color: #adacad;
}

.playlist p {
    padding-top: 15px;
}

/**********************************explore.html
*/

.filter-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 10px;
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
}

.filter-group h3, .filter-group h4 {
    width: 25%;
}

.filter-group h4:hover {
    background-color: #32965d;
}

/*********************** RESPONSIVE DESIGN
*/

@media only screen and (max-width: 960px) {
    .music-queue {
        order: -1;
    }

    .setting {
        flex-direction: column;
    }

    .setting .custom-button, .setting-box .custom-button {
        width: 100%;
        padding: 10px 0;
    }

    .setting h3 {
        width: 100%;
        text-align: center;
    }

    .setting-box {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {

    h3, h4, h5, h6 {
        font-size: 20px;
    }

    .setting-box {
        width: 80%;
    }

    .float-box {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 959px) and (min-width: 500px) {
    
    .page {
        width: 500px;
    }

    .float-box {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 960px) {
    .page {
        flex-direction: row;
        align-items: flex-start;
    }
    .music-content {
        width: 50%;
    }

    .filter-bar {
        width: 30%;
        margin-right: 0;
    }

    .music-queue {
        width: 20%;
        margin-left: 0;
    }
    
    .controls img {
        width: 20px;
        height: 20px;
    }

    .music-content .album-cover {
        width: 10%;
    }
    .song-info {
        width: 60%;
    }

    .playlist-content {
        margin-left: 0px;
        width: 30%;
    }
}